<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>hello</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script src="http://localhost:8080/js/main.js"></script>
		<script>
			$('.test-btn').on('click', function(){
			   alert("ddd");
			});
		</script>
		
	</head>
	<body>
		
		<p><a href="/">back</a></p>
		<p><a href="/print/auth" target="_blank">auth : auth 실행 </a></p>
		<p><a href="/print/refresh" target="_blank">refresh : 토큰 재발행 </a></p>
		<p><a href="/print/capability" target="_blank">capability : 인쇄명세</a></p>
		<p><a href="/print/setting" target="_blank">setting : 프린트세팅</a></p>
		<p><a href="/print/upload" target="_blank">upload : 파일 업로드</a></p>
		<p><a href="/print/execute" target="_blank">execute : 파일 인쇄</a></p>
		<p><a href="/print/execute" target="_blank">execute : 파일 인쇄</a></p>
		
		<p><input text /> </p> 
		<button class="test-btn">버튼</button>
		
		<p><a href="https://scontent-gmp1-1.xx.fbcdn.net/v/t1.6435-9/90560345_3009242059140280_746351048439889920_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=HXgALtTC39gQ7kNvgFhJWeB&_nc_ht=scontent-gmp1-1.xx&oh=00_AYDLWGDVRvc_dd04fqzbNUde8HWAC4dEgHpmHZyozk568g&oe=669F4795" target="_blank" >분석할 그림 소스</a></p>
		<p><a href="/print/ocr" target="_blank">그림 분석</a></p>
		
	</body>

</html>